<head>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
</head>

<div class="section">
  <div class="showcustom-fusen">
    <div class="gold-thumbtack">
           <div class="gold-head"></div>
            <div class="gold-head-bottom"></div>
              <div class="goldpin-needle"></div>
        </div>
      <div class="tweet-show">
        <h1><%= @student.name %></h1>
        <% if @student.image.attached? %>
            <%= image_tag @student.image, size: '300x300' %>
        <% end %>
        <div class="student-about preline"><%= h(@student.about) %></div>

      </div>
  </div>
</div>

<div class="back-button-wrapper">
  <%= link_to "一覧に戻る", students_path, class: "back-button" %>
</div>