<head>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
</head>

<div class="teacher-top">
  <%= image_tag "IMG_2030.jpeg", class: "top-image" %>
  <div class="teacheroverlay-box">
    <div class="questionoverlay-text">
      <h1>Q　＆　A</h1>
    </div>
  </div>
</div>



<div class="bar-title">
  <h2 class="bar-title__text">ゼミ選び・参加に関する質問</h2>
</div>


<!-- Q&A全体 -->
  <div class="qa-block">
    <div class="qa-question">
      <h2>Q1. ゼミの選考はどのように行われますか？</h2>
    </div>
    <div class="qa-answer">
      <p>A. 志望理由と面接の結果に基づき選考します。</p>
    </div>
    <br>
        <div class="qa-question">
      <h2>Q2. 他ゼミやサークルとの両立は可能ですか？</h2>
    </div>
    <div class="qa-answer">
      <p>A. はい、可能です！多くのゼミ生が他のサークルやアルバイトとも両立しています！　活動は基本的に授業時間内や合宿などに集中しているので、自分の時間も確保しやすいです♪</p>
    </div>
  </div>

  <div class="bar-title">
  <h2 class="bar-title__text">活動内容に関する質問</h2>
</div>

<!-- Q&A全体 -->
  <div class="qa-block">
    <div class="qa-question">
      <h2>Q3. 授業以外にどんな活動がありますか？</h2>
    </div>
    <div class="qa-answer">
      <p>A. ゼミ合宿や懇親会に加え、他ゼミとのインゼミも予定しています！授業内だけでは得られない学びや交流の機会があります。</p>
    </div>
      <br>
        <div class="qa-question">
      <h2>Q4. 論文・研究テーマはどうやって決まりますか？</h2>
    </div>
    <div class="qa-answer">
      <p>A. 3年生（ゼミ1年目）でまずグループ論文を執筆し、研究手法を学びながら自身の関心を広げていきます。その過程で興味が深まった分野をベースに、個人の研究テーマを決めていく形になります。</p>
    </div>
  </div>

  <div class="bar-title">
  <h2 class="bar-title__text">学び・研究面に関する質問</h2>
</div>
<!-- Q&A全体 -->
  <div class="qa-block">
    <div class="qa-question">
      <h2>Q5. どのような研究テーマを扱っていますか？</h2>
    </div>
    <div class="qa-answer">
      <p>A. 様々なテーマを扱っています！例えば、学校のブランド力と就職先の関係性、スポーツ施設の数と健康寿命の関係性、熱中症搬送者数が増加する社会構造などをテーマに研究しています。</p>
    </div>
      <br>
        <div class="qa-question">
      <h2>Q6. 統計ソフト（Stata）はどのように学習しますか？</h2>
    </div>
    <div class="qa-answer">
      <p>A. 統計ソフトは春学期に開講される別の授業で基礎を学習し、その後ゼミでも使用を始めます。最初は基本操作から取り組むので初心者でも問題なく、分からない点は先生が丁寧に指導してくださるので安心です♪</p>
    </div>
      <br>
    <div class="qa-question">
      <h2>Q7.  勉強時間はどのくらい必要ですか？</h2>
    </div>
    <div class="qa-answer">
      <p>A. 各週ごとにグループ単位で発表があり、授業は「発表準備→発表」というサイクルで進みます。授業中に準備が終わらなかった場合は宿題として持ち帰り作業になるため、基本的には授業時間内で完結しますが、発表準備の進捗によっては授業外にも一定の時間を確保する必要があります。</p>
    </div>
  </div>

  <div class="bar-title">
  <h2 class="bar-title__text">ゼミの雰囲気に関する質問</h2>
</div>
<!-- Q&A全体 -->
  <div class="qa-block">
    <div class="qa-question">
      <h2>Q8. ゼミの雰囲気はどんな感じですか？</h2>
    </div>
    <div class="qa-answer">
      <p>A. 和気あいあいとした雰囲気で、とても仲が良いです。授業や合宿での発表はしっかりと取り組みつつ、休憩時間や懇親会ではみんなで盛り上がり、楽しく過ごしています。先生やゼミ生同士の距離も近く、自然とまとまりのあるゼミです。</p>
    </div>
    <br>
        <div class="qa-question">
      <h2>Q9. 先生はどんな方ですか？</h2>
    </div>
    <div class="qa-answer">
      <p>A. 気さくで相談しやすい優しい先生です！　研究や進路のことはもちろん、普段の生活に関するちょっとした相談にも乗ってくださいます。</p>
    </div>
    <br>
  </div>


