<div class="teacher-top">
  <%= image_tag "IMG_2030.jpeg", class: "top-image" %>
  <div class="teacheroverlay-box">
    <div class="questionoverlay-text">
      <h1>Q　＆　A</h1>
    </div>
  </div>
</div>

<div class="qa-note">
  <h1>Q&A</h1>
</div>




