<head>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
</head>




<div class="teacher-top">
  <%= image_tag "IMG_2030.jpeg", class: "top-image" %>
  <div class="teacheroverlay-box">
    <div class="teacheroverlay-text">
      <h1>教　員　紹　介</h1>
    </div>
  </div>
</div>





<!-- 自己紹介 -->
<div class="bar-title">
  <h2 class="bar-title__text">自己紹介</h2>
</div>


<div class="activities__content">
    <dl class="about-list">
      <div class="about-item">
        <dt>名前</dt>
        <dd>及川雅斗</dd>
      </div>
      <div class="about-item">
        <dt>経歴</dt>
        <dd>横浜国立大学経済学部国際経済学科<br>
        東京大学大学院経済学研究科修士課程<br>
        東京大学大学院経済学研究科 博士課程<br>
        独立行政法人日本学術振興会 特別研究員（DC2）<br>
        独立行政法人日本学術振興会特別研究員（PD）<br>
        早稲田大学 ソーシャル＆ヒューマン・キャピタル研究所研究協力者<br>
        早稲田大学 教育・総合科学学術院助教<br>
        早稲田大学 教育総合研究所 兼任研究所員<br>
        早稲田大学 高等研究所 講師（任期付）<br>
      </dd>
      </div>
      <div class="about-item">
        <dt>現在</dt>
        <dd>早稲田大学 ソーシャル＆ヒューマン・キャピタル研究所研究所員<br>
        早稲田大学 データ科学センター兼任センター員<br>
        早稲田大学教育・総合科学学術院講師（テニュアトラック）<br>
        </dd>
      </div>
      <div class="about-item">
        <dt>研究分野</dt>
        <dd>公共経済、労働経済／経済政策<br>
          医療経済学<br>
          教育経済学<br>
          応用ミクロ計量経済学<br>
        </dd>
      </div>

      <div class="about-item">
        <dt>主要著作</dt>
        <dd>・論文 “Impact of Financial Support Expansion on Restaurant Entries and   Exits   During   the   COVID-19   Pandemic,” Small Business Economics, Volume 64, pp.645-689, February 2025 (open access) (大西宏一郎先生との共著).<br>
            ・論文 “The role of education in health policy reform outcomes:Evidence from Japan,” European Journal of Health Economics,Volume 25, pp.49-76, February 2024 (open access).<br>
            ・論文 “Do macroeconomic shocks in the local labor market lead to child   maltreatment   and   death?:   Empirical   evidence   from Japan,” Child Abuse & Neglect, Volume 124, February 2022,105430 (open access)(川村顕先生、姜 哲敏先生、山縣然太朗先生、野口晴子先生との共著).
        </dd>
      </div>
      <div class="about-item">
        <dt>趣味</dt>
        <dd>ダイエット<br>
            ドラクエウォーク<br>
            YouTube観賞<br>
        </dd>
      </div>
    </dl>
  </div>
</section>

<div class="bar-title">
  <h2 class="bar-title__text">履修希望の方へ</h2>
</div>

<section id="message" class="message-section">
  <div class="message-bubble">
    <p>
      私たちが住む世界は、少子高齢化、地球温暖化、紛争問題など、さまざまな社会課題に直面しています。
      これらの問題は、私たちに直接的・間接的に多様な影響を及ぼします。
      こうした身近な現象や課題を読み解くスキルは、みなさんが将来、何らかの課題に直面した際に大いに役立つでしょう。
      スキルの習得には時間がかかりますが、ゼミを通じて、これらのスキルを一緒に磨きたいと思う方の参加をお待ちしています。
    </p>
  </div>
</section>

<!-- 教員紹介 -->
<div class="section">
  <div class="teacher-about-flex">
    <!-- 教員の写真 -->
    <div class="teacher-image-wrapper">
      <%= image_tag "及川先生　スリム.png", class: "teacher-image" %>
    </div>
  </div>
</div>