<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>

<div class="top-wrapper">
  <%= image_tag "IMG_2030.jpeg", class: "top-image"%>
  <div class="overlay-box">
    <div class="zemi logo">
      <%= image_tag "oikawa_logo_transparent.png", class: "top-logo" %>
    </div>
    <div class="overlay-text">
      <br><br>
      <p class="line1">社会科</p>
      <p class="line2">公共市民学専修</p><br><br>
      <p class="line3">及川ゼミ</p>
    </div>
  </div>
</div>



<section class="theme">

  <%= image_tag "風岡トップ.jpg", class: "responsive-image" %>
</section>







  

