
<div class="sticky-notepink">
  <div class="tapepink"></div>
  <div class="note-content">
    <div class="letter">
      <p><%= @letter.day.strftime("%Y年%-m月%-d日") %></p>
      <h1><%= @letter.name %></h1>
      <p><%= @letter.about %></p>
    </div>
  </div>
</div>




<%= link_to "お知らせ一覧に戻る", letters_path %>