.qa-block {
  margin-top: 1rem;
  padding: 1rem;
  max-width: 1000px; 
  margin: 0 auto ;
}

.qa-question h2 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.qa-answer p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  margin: 0;
  padding-left: 1rem;
  border-left: 3px solid orange; /* 回答部分にワンポイント */
}
